# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# IntelliJ related
*.iml
.idea/

# VS Code related
.vscode/

# Android related
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/

# iOS related
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/.last_build_id
ios/build/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/
macos/build/

# Web
web/.dart_tool/
web/build/

# Windows
windows/build/

# Linux
linux/build/

# APK / AAB
*.apk
*.aab
